// Banner
.banner {
    text-align: center;

    @include breakpoint($tablet) {
        padding: ($spacing-xxl * 2 + $spacing-xs) 0 ($spacing-xl * 4);
    }
}

.banner-info-list {
    padding: 0;
}

.banner-info-item {
    list-style: none;
}

.banner-icon {
    border: 3px solid $font-color-secondary;
    border-radius: 50%;
    display: inline-block;
    padding: 15%;

    @include breakpoint($phone-medium) {
        border-width: 4px;
    }

    .icon {
        color: $font-color-secondary;
        font-size: $font-size-primary * 5;
        transition: $transition-primary;

        @include breakpoint($phone-medium) {
            font-size: $font-size-primary * 7;
        }

        @include breakpoint($tablet) {
            font-size: $font-size-primary * 5;
        }

        @include breakpoint($desktop-small) {
            font-size: $font-size-primary * 8;
        }

        @include breakpoint($desktop-medium) {
            font-size: $font-size-primary * 9;
        }
    }
}

.banner-info-title {
    color: $font-color-secondary;
    font-size: $font-size-large;
    font-weight: 600;
    line-height: 1.1;
    margin: $spacing-xl $spacing-xs;

    @include breakpoint($phone-medium) {
        font-size: $font-size-xlarge;
    }

    @include breakpoint($tablet) {
        font-size: $font-size-large;
    }

    @include breakpoint($desktop-small) {
        font-size: $font-size-xlarge;
    }
}

// Color combinations
.banner { //sass-lint:disable-line no-mergeable-selectors
    // Default color combination
    .heading-1,
    .subtitle,
    .icon,
    .banner-info-title {
        color: $font-color-secondary;
    }

    .banner-icon {
        border-color: $font-color-secondary;
    }

    // Color-1
    &.color-1 {
        .heading-1,
        .icon {
            color: $brand-color;
        }

        .banner-icon {
            border-color: $brand-color;
        }
    }

    // Color-2
    &.color-2 {
        .heading-1,
        .icon {
            color: $brand-color-7;
        }

        .banner-icon {
            border-color: $brand-color-7;
        }
    }
}
