// Buttons
.btn {
    background: $brand-color;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $font-color-secondary;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-primary;
    line-height: 1;
    margin-bottom: 0;
    outline: 0;
    padding: $spacing-xs $spacing-m;
    text-align: center;
    text-decoration: none;
    transition: $transition-primary;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:active,
    &.active {
        background: lighten($brand-color, 15%);
        color: $font-color-secondary;
        text-decoration: none;
    }

    &.disabled {
        opacity: .5;
    }

    &.line-through {
        position: relative;

        &:before,
        &:after {
            border-top: 2px solid $border-color-primary;
            content: '';
            position: absolute;
            top: 50%;
            width: 60px;

            @include breakpoint($tablet) {
                width: 120px;
            }

            @include breakpoint($desktop-small) {
                width: 200px;
            }
        }

        &:before {
            left: calc(100% + 30px);
        }

        &:after {
            right: calc(100% + 30px);
        }
    }

    &.separator {
        margin: $spacing-xxl 0;
    }

    &.has-icon .icon {
        padding: 0 $spacing-xxs;
    }
}

.btn-secondary {
    @extend .btn;
    background: $brand-color-2;

    &:hover,
    &:active,
    &.active {
        background: lighten($brand-color-2, 15%);
    }

    &.alt {
        background: $brand-color-4;

        &:hover,
        &:active,
        &.active {
            background: lighten($brand-color-4, 15%);
            color: $font-color-secondary;
        }
    }
}

.btn-tertiary {
    @extend .btn;
    background-color: $bg-color-secondary;
    border-color: $brand-color;
    color: $brand-color;
    font-size: $font-size-small;
    margin: $spacing-m 0;
    padding: $spacing-xs $spacing-s;

    @include breakpoint($desktop-small) {
        margin: 0;
    }

    &:hover {
        background: $brand-color;
        color: $font-color-secondary;
        text-decoration: none;
    }
}

// Button Sizes
.btn-small {
    @extend .btn;
    border-radius: 2px;
    font-size: $font-size-small;
    padding: $spacing-xxs $spacing-s;
}

.btn-large {
    @extend .btn;
    display: block;
    font-size: $font-size-large;
    font-weight: 700;
    padding: $spacing-s $spacing-xl;
    text-transform: uppercase;

    @include breakpoint($tablet) {
        display: inline-block;
    }
}

// Block button
.btn-block {
    @extend .btn;
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: $spacing-xxs;
}

// Specificity overrides
input[type='submit'], // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
input[type='reset'], // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
input[type='button'] { // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
    &.btn-block {
    width: 100%;
    }
}

// Show more button + icon
.show-more-btn {
    color: $brand-color;
    display: inline-block;
    font-size: $font-size-primary;
    font-weight: 700;
    margin-left: -35px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.show-more-btn-icon {
    @extend .arrow-down-icon;
    right: -35px;
}

.expanded .show-more-btn-icon {
    @extend .arrow-up-icon;
    right: -35px;
}

// Information button
.info-btn {
    @extend .z-depth-1;
    background: $bg-color-secondary;
    border-radius: 5px;
    display: block;
    margin: 0 0 $spacing-l;
    padding: $spacing-m;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: $transition-primary;

    @include breakpoint($desktop-small) {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);

        &:hover {
            background: $bg-color-secondary;
            box-shadow: 0 10px 18px rgba(0, 0, 0, .23);
            transform: scale(1.03);

            .btn {
                opacity: 1;
                visibility: visible;
            }

            .info-btn-img {
                border: 0;
                border-radius: 5px;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }

    &.color-2 {

        .info-btn-title {
            color: $brand-color-2;
            text-transform: uppercase;
        }

        .btn {
            background: $brand-color-2;
        }
    }

    .btn {
        position: relative;
    }

    .tag {
        font-size: $font-size-primary;
        left: -12px;
        position: absolute;
        top: 35px;

        @include breakpoint($tablet) {
            font-size: $font-size-large;
        }
    }
}

.info-btn-img {
    border-radius: $spacing-xxs;
    box-sizing: border-box;
    transition: $transition-primary;
    width: 325px;
}

.info-btn-title {
    font-size: $font-size-large;
    font-weight: 600;
    margin-top: $spacing-m;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.info-btn-desc {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: $font-size-xsmall;
    font-weight: 400;
    height: $font-size-xlarge * 2.45;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint($phone-medium) {
        font-size: $font-size-primary;
    }
}

.info-btn-desc-fixed {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    font-size: $font-size-xlarge;
    height: 7.3rem;
    margin-bottom: $spacing-xs + 3;
    overflow: hidden;
    padding: $spacing-xs;
    position: relative;
    text-overflow: ellipsis;

    &:after {
        background: linear-gradient(180deg, rgba(255, 138, 28, .05) 0%, rgba(214, 136, 44, .05) 5%, $white 100%);
        bottom: 0;
        content: '';
        height: $spacing-s;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: $z-middle-top;
    }

    p {
        display: inline-block;
        margin: $spacing-xxs 0;
    }
}

// Booking button
.book-btn {
    background: $bg-color-secondary;
    border-radius: $spacing-xxs;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: $spacing-l;
    padding: 10%;
    text-decoration: none;
    transition: $transition-primary;
    width: 100%;

    &:hover,
    &:focus {
        @extend .z-depth-1;
        text-decoration: none;
        transform: scale(1.03);
    }

    .book-btn-title {
        color: $brand-color-2;
        font-weight: 700;
    }

    .book-btn-price {
        font-size: $font-size-xxlarge;
    }

    .btn-secondary {
        padding: $spacing-xs 0;
        width: 100%;

        @include breakpoint($tablet) {
            width: 70%;
        }
    }

    .rounded {
        border-radius: 50%;
    }

    &.small {

        .book-btn-title {
            font-size: 1.2rem;
        }

        .book-btn-price {
            font-size: $font-size-xlarge;
        }
    }
}
