// Cardabnner
.cardbanner {
    background: $bg-color-quinary;
    border-radius: 10px;
    display: block;
    margin: $spacing-l 0;
    text-decoration: none;

    @include breakpoint($tablet) {
        margin: $spacing-m 0;
    }

    &:hover {
        text-decoration: none;

        @include breakpoint($desktop-small) {

            .cardbanner-img {
                opacity: 0;
                visibility: hidden;
            }

            .note-1 {
                background-color: darken($brand-color-2, 6%);
            }

            .note-2 {
                background-color: darken($brand-color-4, 6%);
            }

            .cardbanner-cascade-up-0 {
                transform: translateY(-120%);
                transition: $transition-secondary;
            }

            @for $i from 1 through 3 {
                .cardbanner-cascade-up-#{$i} {
                    @extend .cardbanner-cascade-up-0;
                    transition-delay: (.05s * ($i - 1));
                }
            }

            .cardbanner-description {
                transform: translateY(-30px);
            }

            .btn,
            .btn-secondary {
                opacity: 1;
                transform: translateY(-30px);
                visibility: visible;
            }
        }
    }

    .note {
        @include breakpoint($desktop-medium) {
            margin: 0 $spacing-xs;
        }
    }

    .btn-secondary {
        margin: $spacing-s $spacing-s $spacing-l;
        transition: $transition-secondary;

        @include breakpoint($desktop-small) {
            margin-bottom: $spacing-s;
            opacity: 0;
            visibility: hidden;
        }
    }
}

// Cardbanner Title
.cardbanner-title {
    background: $brand-color-2;
    border-radius: 10px 10px 0 0;
    color: $font-color-secondary;
    font-size: $font-size-xxxlarge;
    margin: 0;
    padding: $spacing-s $spacing-m;

    @include breakpoint($desktop-small) {
        font-size: $font-size-xxlarge * 2;
        padding: $spacing-m $spacing-xl;
    }
}

.cardbanner.alt .cardbanner-title {
    background: $brand-color-4;
}

// Cardbanner Image
.cardbanner-img-container {
    background: $brand-color-2 no-repeat center center/cover; // sass-lint:disable-line space-around-operator
    position: relative;
}

.cardbanner.alt .cardbanner-img-container {
    background-color: $brand-color-4;
}

.cardbanner-img {
    display: block;
    transition: $transition-secondary;
    width: 100%;
}

// Cardbanner Description
.cardbanner-wrapper {
    position: relative;
}

.cardbanner-note-container {
    @extend %hidden;
    position: absolute;
    transform: translateY(-50%);
    transition: $transition-secondary;
    width: 100%;

    @include breakpoint($desktop-small) {
        opacity: 1;
        visibility: visible;
    }
}

.cardbanner-description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: $font-size-primary;
    font-weight: 400;
    height: $font-size-primary * 3;
    margin: 0;
    overflow: hidden;
    padding: $spacing-m $spacing-xl $spacing-xs;
    text-overflow: ellipsis;
    transition: $transition-secondary;

    @include breakpoint($desktop-small) {
        -webkit-line-clamp: 2;
        font-size: $font-size-large;
        height: $font-size-large * 2;
        padding: $spacing-xl * 2 $spacing-xl $spacing-xs;
        transform: translateY(30px);
    }
}
