// Counter
.counter {
    border: 1px solid $border-color-primary;
    border-radius: 3px;
    margin: $spacing-xxs $spacing-xs;
    padding: $spacing-xs $spacing-s;

    &.col {
        padding: $spacing-xs $spacing-s; // Overrides grid system
    }
}

.counter-label {
    display: inline-block;
    font-size: $font-size-primary;
    font-weight: 600;
    height: $counter-size;
    line-height: $counter-size;
}

.counter-label-info {
    color: $font-color-tertiary;
    font-size: $font-size-xsmall;
    line-height: $counter-size;
    vertical-align: top;
}

.counter-controls-wrapper {
    float: right;

    .counter-val {
        background: transparent;
        border: 0;
        box-sizing: border-box;
        cursor: default;
        font-size: $font-size-primary;
        font-weight: 700;
        height: $counter-size;
        padding: 0;
        text-align: center;
        vertical-align: top;
        width: $counter-size - $spacing-xxs;

        @include breakpoint($phone-medium) {
            width: $counter-size + $spacing-xxs;
        }
    }
}

.counter-btn {
    background-color: transparent;
    border: 1px solid $border-color-primary;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: $counter-size;
    padding: 0;
    transition: $transition-primary;
    width: $counter-size;

    &:focus,
    &:active {
        outline: none;
    }

    &:active {
        transform: translateY(1px);
    }

    &:hover {
        background-color: $brand-color;
        border-color: $brand-color;

        .icon {
            color: $font-color-secondary;
        }
    }

    &[disabled] {
        background-color: transparent;

        &:active {
            transform: translateY(0);
        }

        &:hover {
            border-color: $border-color-primary;
            cursor: default;
        }

        .icon {
            color: $font-color-quaternary;
        }
    }
}
