// Fares list
.fares-list {
    margin: 0;
    padding: $spacing-xl 0;

    @include breakpoint($desktop-small) {
        padding: $spacing-xxl 0;
    }
}

// Fare Item
.fare-item {
    @extend .z-depth-0;
    @extend .animate-cascade-down;
    background: $bg-color-primary;
    border: 1px solid $border-color-primary;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin: $spacing-s 0;
    overflow: hidden;
    transition: $transition-primary;

    @include breakpoint($phone-medium) {
        margin: $spacing-m 0;
    }

    &:hover {
        @extend .z-depth-1;
    }

    &.active {
        background: $bg-color-secondary;
        box-shadow: 0 10px 18px rgba(0, 0, 0, .18), 0 0 0 3px $brand-color;
    }
}

// Fare Summary
.fare-summary {
    cursor: pointer;
    font-size: 0;
}

// Sumary Schedule
.summary-schedule {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    height: $fare-item-height * .7;
    padding: 0 $spacing-s;
    position: relative;
    vertical-align: top;
    width: calc(100% - 100px);

    @include breakpoint($phone-medium) {
        height: $fare-item-height * .8;
        padding: 0 $spacing-m;
        width: calc(100% - 160px);
    }

    @include breakpoint($phone-large) {
        padding: 0 $spacing-xl;
        width: calc(100% - 180px);
    }

    @include breakpoint($tablet) {
        height: $fare-item-height;
        text-align: center;
    }

    @include breakpoint($desktop-small) {
        width: calc(100% - 220px);
    }
}

.departure-time-container,
.trip-indicator,
.arrival-time-container {
    display: inline-block;
    vertical-align: middle;
}

.fare-time {
    font-size: $font-size-small;

    @include breakpoint($phone-medium) {
        font-size: $font-size-primary;
    }

    @include breakpoint($phone-large) {
        font-size: $font-size-large;
    }

    @include breakpoint($desktop-small) {
        font-size: $font-size-xlarge;
    }
}

.summary-fare-detail-txt {
    color: $font-color-quaternary;
    display: none;
    font-size: $font-size-xsmall;
    margin: 0 0 $spacing-xxs;
    text-transform: uppercase;

    @include breakpoint($tablet) {
        display: inline;
    }
}

.trip-indicator {
    border-top: 1px solid $border-color-tertiary;
    margin: 0 2px;
    width: $spacing-xs;

    @include breakpoint($phone-medium) {
        border-top: 2px solid $border-color-tertiary;
        margin: 0 $spacing-xs;
        width: $spacing-s;
    }

    @include breakpoint($tablet) {
        border-top: 2px solid $border-color-primary;
        margin: 0 5%;
        width: 40%;
    }
}

.trip-info {
    transition: $transition-primary;

    @include breakpoint($tablet) {
        background: $bg-color-primary;
        left: 50%;
        padding: $spacing-xs $spacing-m;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .txt {
        font-size: $font-size-xsmall;
        margin: 0;
        padding: $spacing-xxs 0 0;

        @include breakpoint($phone-medium) {
            font-size: $font-size-small;
        }

        @include breakpoint($tablet) {
            margin: 0;
            padding: 0;
        }

        @include breakpoint($desktop-small) {
            font-size: $font-size-primary;
        }
    }
}

.fare-item.active {
    .trip-info {
        background: $bg-color-secondary;
    }
}

.fare-summary-extra-info {
    @extend .text-ellipsed;
    display: none;

    @include breakpoint($tablet) {
        display: block;
        font-size: $font-size-small;
        font-weight: 700;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: $spacing-xs;
    }

    .icon {
        font-size: $font-size-primary * 1.1;
        margin: 0 $spacing-xs;
    }

    &.alert {
        color: $error-color;
    }

    &.tour {
        color: $brand-color-2;
    }
}

// Sumarry price
.summary-price {
    border-left: 1px solid lighten($border-color-secondary, 2%);
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    height: $fare-item-height * .7;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 100px;

    @include breakpoint($phone-medium) {
        height: $fare-item-height * .8;
        width: 160px;
    }

    @include breakpoint($phone-large) {
        width: 180px;
    }

    @include breakpoint($tablet) {
        height: $fare-item-height;
    }

    @include breakpoint($desktop-small) {
        width: 220px;
    }
}

.price-detail {
    color: $font-color-quinary;
    font-size: $font-size-xsmall;
    margin: 0 0 $spacing-xxs;

    @include breakpoint($phone-medium) {
        font-size: $font-size-small;
    }
}

.price {
    font-size: $font-size-primary;

    @include breakpoint($phone-medium) {
        font-size: $font-size-large;
    }

    @include breakpoint($phone-large) {
        font-size: $font-size-primary * 1.5;
    }

    @include breakpoint($desktop-small) {
        font-size: $font-size-primary * 2;
    }
}

.fare-label {
    border-radius: 3px;
    color: $font-color-secondary;
    display: inline-block;
    font-size: $font-size-xsmall;
    margin: $spacing-xxs 0 0;
    padding: $spacing-xxs $spacing-s;
    text-transform: uppercase;
    width: auto;

    @include breakpoint($desktop-small) {
        font-size: $font-size-small;
    }

    &.gold {
        background: $brand-color-3;
    }

    &.tour {
        background: $brand-color-2;
    }
}
