.filter-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.filter-title {
    display: inline-block;
}

.filter-name {
    font-weight: 700;
    padding: $spacing-xs;
}

.filter {
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: $font-color-quaternary;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: $spacing-xs $spacing-s;
    text-decoration: none;
    transition: $transition-primary;

    &:hover {
        color: $font-color-primary;
        text-decoration: none;
    }

    &.selected {
        background: $bg-color-secondary;
        border-color: $border-color-primary;
        color: $font-color-primary;
    }
}

.filter-content.hidden {
    display: none;
}
