.map {
    height: 350px; // will generate some bug in mobile if we stick as 150px

    &.opened {
        height: 95vh;
    }
}

.map ~ .btn {
    @extend .btn;
    font-size: $font-size-xsmall;
    font-weight: 600;
    padding: $spacing-xxs $spacing-xs;
    position: absolute;
    right: 10px;
    top: 66px;
    z-index: $z-middle-bottom;

    @include breakpoint($tablet) {
        font-size: $font-size-primary;
        font-weight: 600;
        padding: $spacing-xs $spacing-m;
        position: absolute;
        right: 20px;
        top: 76px;
    }
}

.location-info {
    font-size: $font-size-small;
    line-height: 1.5;
    width: 220px;

    @include breakpoint($tablet) {
        font-size: $font-size-primary;
    }

    .btn-tertiary {
        bottom: 8px;
        font-weight: 400;
        margin: $spacing-xs $spacing-xs $spacing-xs 0;
        padding: $spacing-xs $spacing-xl;
    }
}

.location-name {
    display: block;
    font-weight: 700;
}

.location-desc {
    display: block;
    font-weight: 400;
}