.pagination {
    list-style-type: none;
    padding-left: 0;
    text-align: center;

    li {
        display: inline-block;
        list-style-type: none;
        margin: $spacing-s 0;
        vertical-align: middle;
    }

    a {
        border-radius: 3px;
        display: block;
        padding: $spacing-xs + 3 $spacing-s;
        text-decoration: none;
        transition: $transition-primary;

        &:hover {
            background: $bg-color-quaternary;
        }

        &.active {
            background: $brand-color;
            color: $font-color-secondary;
        }

        &.pagination-icon {
            padding: $spacing-xs;

            .icon {
                font-size: $font-size-large;
                margin: 0;
            }
        }
    }
}