.sticky-wrapper {
    background: $bg-color-secondary;
}

.sticky-content {
    background: $bg-color-secondary;
    border-top: 1px solid $border-color-secondary;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .23);
    display: inline-block;
    position: relative;
    transition: $transition-primary;
    width: 100%;
    z-index: $z-middle;

    &.is-sticked {
        left: 0;
        position: fixed;
        top: 55px;
    }
}

.scrolling-down .sticky-content {
    top: -1px;
}
