.sticky-list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    li {
        display: inline-block;
    }

    @for $i from 1 through 5 {
        // Auto adjust width for every element in sticky-list
        li:first-of-type:nth-last-of-type(#{$i}),
        li:first-of-type:nth-last-of-type(#{$i}) ~ li {
            width: (100% / #{$i});
        }
    }

    a {
        color: $font-color-primary;
        display: inline-block;
        font-size: $font-size-xxsmall;
        padding: $spacing-s 0;
        position: relative;
        text-decoration: none;
        width: 100%;

        @include breakpoint($desktop-small) {
            font-size: $font-size-primary;
            padding: ($spacing-m - 2) 0;
        }

        &.highlighted {
            background: $brand-color;
            color: $font-color-secondary;
        }

        &.active {
            color: $brand-color;
        }

        &.highlighted.active {
            // eg: book now button
            color: $font-color-secondary;
        }

        &:not(.highlighted):hover,
        &:not(.highlighted):focus {
            color: $brand-color;
        }

        &.active:after {
            background: $brand-color;
            bottom: 0;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        .icon {
            display: inline-block;
            font-size: $font-size-xlarge;
            margin: 0 0 $spacing-xxs;
            width: 100%;

            @include breakpoint($desktop-small) {
                display: none;
            }
        }
    }
}
