table {
    border-bottom: 1px solid $border-color-primary;
    border-collapse: collapse;
    border-top: 1px solid $border-color-primary;
    position: relative;
    width: 100%;

    @include breakpoint($desktop-small) {
        display: table;
    }
}

td {
    font-size: $font-size-small;
    padding: $spacing-s $spacing-m;
    text-align: left;

    .icon {
        vertical-align: initial;
    }
}

thead {
    border-bottom: 1px solid $border-color-primary;
}

th {
    color: $brand-color;
    padding: $spacing-s $spacing-m;
    text-align: left;
}

tr {
    border-bottom: 1px dotted $border-color-primary;
    transition: $transition-primary;
}

.highlight tbody tr:hover {
    background: lighten($bg-color-quaternary, 5%);
}

.responsive-table {
    display: block;

    tbody {
        display: block;
        font-size: 0;
        margin: 0 0 0 100px;
        overflow-x: auto;
        position: relative;
        text-align: left;
        white-space: nowrap;
    }

    tr {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        border-bottom: 0;
        border-left: 1px solid $border-color-secondary;
        display: inline-block;
        transition: $transition-primary;
        vertical-align: top;
        white-space: initial;
    }

    thead {
        box-shadow: 4px 0 5px -3px rgba(0, 0, 0, .18);
        height: 100%;
        position: absolute;
        width: 100px;

        tr {
            border-left: 0;
        }
    }

    th {
        display: block;
        font-size: $font-size-small;
        font-weight: 700;
        max-width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
    }

    td {
        border-bottom: 0;
        display: block;
        max-width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cell-nowrap {
        white-space: nowrap;
    }

    .highlight tbody tr:hover {
        background: none;
    }

    @include breakpoint($desktop-small) {
        display: table;

        tbody {
            display: table-row-group;
            white-space: normal;
        }

        tr {
            border-bottom: 1px dotted $border-color-primary;
            border-left: 0;
            display: table-row;
            vertical-align: inherit;
        }

        thead {
            box-shadow: none;
            position: relative;
        }

        th {
            display: table-cell;
            white-space: normal;
        }

        td {
            display: table-cell;
            white-space: normal;
        }

        .highlight tbody tr:hover {
            background: lighten($bg-color-quaternary, 5%);
        }
    }
}

.table-container {
    overflow-x: hidden;
}

.popup-content.table-container {
    display: block;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($phone-medium) {
        margin: 0 20px;
    }

    @include breakpoint($desktop-small) {
        display: inline-block;
        top: 0;
        transform: translateY(0);
    }

    table {
        border-top: 0;
    }
}

.cell-link {
    color: $font-color-primary;
    text-decoration: none;

    &:hover {
        color: $font-color-primary;
        text-decoration: underline;
    }
}

.table-collapse-title {
    color: $font-color-primary;
    font-weight: 700;
}

.table-container ~ .text-italic {
    font-size: $font-size-small;
    margin: $spacing-xl 0;
}

.table-container ~ a {
    font-size: $font-size-small;
    margin: $spacing-xl 0;
}

.has-table .fancybox-slide:before {
    display: none;

    @include breakpoint($desktop-small) {
        display: inline-block;
    }
}

.table-list-container .collapse-group {
    padding: 0;
}
