.tabs {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    li {
        display: inline-block;
    }

    .bold {
        font-weight: 700;
    }

    @for $i from 1 through 5 {
        // Auto adjust with for every element in list-group
        // Support up to 5 items
        li:first-of-type:nth-last-of-type(#{$i}),
        li:first-of-type:nth-last-of-type(#{$i}) ~ li {
            width: (100% / #{$i});
        }
    }
}

.tab-link {
    color: $font-color-primary;
    display: inline-block;
    font-size: $font-size-xxsmall;
    padding: $spacing-s 0;
    position: relative;
    text-decoration: none;
    width: 100%;

    @include breakpoint($desktop-small) {
        font-size: $font-size-primary;
        padding: $spacing-m 0;
    }

    &.highlighted {
        background: $brand-color;
        color: $font-color-secondary;
    }

    &.active {
        color: $brand-color;
    }

    &.highlighted.active {
        // eg: book now button
        color: $font-color-secondary;
    }

    &:not(.highlighted):hover,
    &:not(.highlighted):focus {
        color: $brand-color;
    }

    &.active:after {
        background: $brand-color;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

// Variations
.tabs.underline a:not(.active):after {
    background: $border-color-primary;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

// Tab content
.tab-wrapper {
    padding: $spacing-xxl 0;

    .tab-section:not(:first-child) {
        display: none;
    }
}
