.tag {
    background-color: $brand-color-2;
    border-radius: 5px;
    color: $font-color-secondary;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: 600;
    padding: $spacing-xxs $spacing-xs;

    @include breakpoint($tablet) {
        font-size: $font-size-large;
        padding: ($spacing-xs - 2px) $spacing-s;
    }

    &.color-2 {
        background-color: $brand-color-2;
    }

    &.color-4 {
        background-color: $brand-color-4;
    }
}

.tag-small {
    @extend .tag;
    padding: $spacing-xxs $spacing-xs;

    @include breakpoint($tablet) {
        font-size: $font-size-xxsmall;
    }
}

.tag-large {
    @extend .tag;
    border-radius: 5px;
    font-size: $font-size-primary;
    padding: ($spacing-xs - 2px) $spacing-s;

    @include breakpoint($tablet) {
        font-size: $font-size-large;
        padding: $spacing-xs $spacing-s;
    }
}

.tag-secondary {
    @extend .tag;
    background: none;
    border: 2px solid $brand-color;
    color: $brand-color;

    &.color-2 {
        background: none;
        border: 2px solid $brand-color-2;
        color: $brand-color-2;
    }

    &.color-4 {
        background: none;
        border: 2px solid $brand-color-4;
        color: $brand-color-4;
    }
}

.tag-tertiary {
    background-color: $bg-color-secondary;
    border-radius: 20px;
    box-shadow: 0 0 2px 0;
    display: inline-block;
    font-size: $font-size-primary;
    font-weight: 700;
    padding: $spacing-xs $spacing-m;

    @include breakpoint($desktop-medium) {
        font-size: $font-size-large;
    }
}

.tag-rounded-white {
    background: $bg-color-secondary;
    border: 1px solid $border-color-primary;
    border-radius: 30px;
    color: $font-color-quaternary;
}

.tag-date-label {
    background: $brand-color-2;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    width: 140px;

    @include breakpoint($desktop-small) {
        height: 20px;
        padding: $spacing-xxs 0 0;
    }

    .selected,
    .disabled {
        color: $font-color-secondary;
        font-size: $font-size-xsmall;
        padding: $spacing-xxs - 2;

        @include breakpoint($desktop-small) {
            font-size: $font-size-small;
        }
    }

    .disabled {
        color: darken($brand-color-2, 15%);
    }
}
