.timetable-footer {
    background: $bg-color-quaternary;
    margin: $spacing-m 0 0;
    padding: $spacing-m $spacing-xxl;
}

.timetable-footer-list {
    font-size: $font-size-small;
    margin: $spacing-xs 0;

    .table-text-icon {
       font-size: $font-size-primary;
    }

    .icon {
        font-size: $font-size-xlarge;
    }
}