// Tooltip
.tt-link {
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:hover > .tt-content {
        @extend .visible;
        transform: translate(-50%, 0);
    }
}

.tt-content {
    @extend .hidden;

    background: rgba($bg-color-tertiary, 80);
    border-radius: 3px;
    bottom: 2.25em;
    color: $font-color-secondary;
    font-family: $font-family-primary;
    font-size: $font-size-xsmall;
    font-weight: 400;
    left: 50%;
    padding: $spacing-xs $spacing-s;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 8px);
    transition: $transition-primary;

    &:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba($bg-color-tertiary, 80);
        bottom: -5px;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
    }

    ul {
        list-style: none;
        min-width: 200px;
        text-align: left;

        li {
            padding: 2px 0 2px 4px;
            position: relative;

            &:before {
                color: $brand-color;
                content: '•';
                font-size: $font-size-primary;
                left: -10px;
                position: absolute;
                top: 0;
            }
        }
    }
}
