.page-404 {
    .btn-large {
        margin: $spacing-xl $spacing-xs 0;
    }
}

.img-404 {
    display: block;
    height: 200px;
    margin: $spacing-l * 2 auto;

    @include breakpoint($tablet) {
        height: 350px;
    }
}
