.itinerary {
    .list-group {
        @include breakpoint($desktop-small) {
            display: inline-block;
            width: 70%;
        }
    }
}

.itinerary-item {
    display: inline-block;
    overflow: hidden;
    padding-bottom: $spacing-xl;
    position: relative;
    width: 100%;

    .icon-location {
        color: $brand-color;
        font-size: $font-size-xxxlarge;
        height: 100%;
        left: 4px;
        min-height: 153px;
        position: absolute;
        top: 0;
        z-index: $z-above-bottom;

        @include breakpoint($tablet) {
            left: 29%;
        }

        &::before {
            position: relative;
            top: -4px;
        }

        // Dotted vertical line
        &::after {
            border-left: 3px dashed $brand-color;
            content: '';
            height: 100%;
            left: 20px;
            position: absolute;
            top: 44px;
            z-index: $z-below-bottom;
        }
    }

    &:last-child .icon-location:after {
        // remove dashed line for last element
        display: none;
    }
}

.itinerary-image {
    display: none;

    @include breakpoint($tablet) {
        display: inline-block;
        vertical-align: top;
        width: 25%;
    }

    img {
        border-radius: 10px;
        width: 100%;
    }
}

.itinerary-description {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding-left: 70px;
    text-align: left;
    vertical-align: top;
    width: 100%;

    @include breakpoint($tablet) {
        width: 70%;
    }

    p {
        margin-top: $spacing-xxs;
    }
}

.itinerary-title {
    color: $font-color-primary;
    display: inline-block;
    font-size: $font-size-xsmall;
    font-weight: 700;
    margin: ($spacing-xs + 2) 0 0;
    padding: 0;
    width: 100%;

    @include breakpoint($tablet) {
        width: auto;
    }
}

.variation-options {
    // Fix options blue button spacing
    .info-btn {
        height: 500px;

        @include breakpoint($tablet) {
            height: 490px;
        }
    }
}
