<ul class="collapse-group js-collapse-group">
    <h4 class="table-collapse-title collapse-toggle js-collapse-toggle">{{busStopFirstLetter}}<span class="collapse-icon"></span></h4>
    <div class="table-container collapsible js-collapsible">
        <table class="responsive-table highlight">
            <thead class="table-header">
                <tr>
                    <th>Location</th>
                    <th>Bus Stop</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-body js-bus-stop-item">
            </tbody>
        </table>
    </div>
</ul>