<tr>
    <td class="cell-nowrap"><b>{{name}}</b></td>
    <td>
        <a class="cell-link js-bus-stop-desc" href="#">{{description}}</a>
    </td>
    <td>
        <a class="btn-tertiary" href="{{link}}">See Service Detail</a>
    </td>
</tr>