<div>
    <!-- block start with below-->
    {% for item in data %}
    <div>
        <span>{{item.Name}}</span>
        <span>{{item.Region}}</span>
        <span>{{item.Latitude}}</span>
        <span>{{item.Longitude}}</span>
    </div>
    {% endfor %}
    {{test}}
</div>
