<div class="location-info">
    <span class="location-name">{{name}}</span>
    <span class="location-desc">{{description}}</span>
    <a class="btn-tertiary" href="#">View All Service</a>
    <!-- TODO: remove this button if feature is not completed for version 1.0.0 -->
    <!-- <a class="btn alt" href="#"><svg class="icon"><use xlink:href="/img/sprite.svg#star"></a> -->
</div>
