{% for stop in stops %}
    <li class="search-list"><a class="search-link" href="bus-stop-detail.html">{{stop.stopName}}</a></li>
{% else %}
    <li class="search-empty">No related bus found</li>
{% endfor %}