// Forms

// Placeholders
::placeholder {
    color: $label-color;
    font-weight: 300;
}

// Label
label {
    color: $label-color;
    font-size: $input-font-size;
    font-weight: 300;
}

// Form elements
@import 'autocomplete'; // @TODO: Improve styling
@import 'input';
@import 'radio';
@import 'checkbox';
@import 'select';