// Radio buttons
input[type='radio'] { // sass-lint:disable-line no-qualifying-elements, force-attribute-nesting
    cursor: pointer;
    opacity: 0;
    position: relative;

    & + label {
        color: $font-color-primary;
        cursor: pointer;
        font-weight: 400;
        padding: 0 $spacing-xs;
        position: relative;

        // Unchecked
        &:after,
        &:before {
            background: $bg-color-secondary;
            border: 2px solid $border-color-tertiary;
            border-radius: 50%;
            content: '';
            height: $radio-checkbox-size;
            left: -$spacing-s;
            position: absolute;
            top: 1px;
            transition: $transition-fast;
            width: $radio-checkbox-size;
        }

        &:before {
            transform: scale(0);
        }
    }

    // Checked
    &:checked + label {
        &:before {
            background: $brand-color;
            border-color: $brand-color;
            box-shadow: 0 0 0 3px $bg-color-secondary inset;
            transform: scale(1);
        }

        &:after {
            transform: scale(0);
        }
    }

    // Focused
    &:focus + label:after {
        border-color: $brand-color;
    }

    // Disabled
    &:disabled {
        cursor: not-allowed;

        & + label {
            color: lighten($label-color, 5%);
            cursor: not-allowed;

            &:before,
            &:after {
                border-color: $input-disabled-color;
            }
        }

        &:checked + label:before {
            background: $input-disabled-color;
        }
    }
}