// Colors
.cms-brand-color {
    color: $brand-color;
}

.cms-color-2 {
    color: $brand-color-2;
}

.cms-color-3 {
    color: $brand-color-3;
}

.cms-color-4 {
    color: $brand-color-4;
}

.cms-color-5 {
    color: $brand-color-5;
}

.cms-color-6 {
    color: $brand-color-6;
}


// Text styles
.cms-txt-xsmall {
    font-size: $font-size-xsmall;
}

.cms-txt-small {
    font-size: $font-size-small;
}

.cms-txt-large {
    font-size: $font-size-large;
}

.cms-txt-uppercase {
    text-transform: uppercase;
}

// Buttons
// @TODO: integrate buttons properly
.cms-btn {
    background: $brand-color;
    border-radius: 5px;
    color: $font-color-secondary;
    display: inline-block;
    padding: $spacing-xxs $spacing-s;
}